.contact-bg {
    height: 100%;
    width: 100%;
    float: right;
    background-image: URL("./images/weather-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
.contact{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: teal;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}